.selectContainer {
  align-items: center;
  display: inline-flex;
  font-family: Avenir, Verdana, sans-serif;
}

.selectContainer:not(:last-of-type) {
  margin-right: 20px;
}

.selectFilter {
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
  padding: 5px 15px;
}

.labelFilter {
  font-size: 24px;
  margin-right: 20px;
}
