.selectContainer {
  align-items: center;
  display: inline-flex;
}

.selectContainer:not(:last-of-type) {
  margin-right: 20px;
}

.selectFilter {
  padding: 10px 20px;
}

.labelFilter {
  margin-right: 20px;
}
